body {
    background: skyblue;
    margin: 5vh 15vw;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#wrapper {
    /* min-height: 100vh; */
   
}

.content,
.input {
    opacity: 0.8;
   
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /* filter: blur(4px); */
}

#results,
#details {
    margin: 1vh 2vw;
    display: flex;
    justify-content: center;
   
}

#ikonka {
    display: inline;
}

#icon {
    height: 75px;
    weight: 75px;
    position: relative;
}

#results.ui.segment.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cityandtemp{
    display:flex;
    justify-content: center;
}

#tipresult{
    text-align:center;
    opacity:0.75;
}

#mainbar {
    display: inline;
    font-size: 1.6em;
}

#mood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#spotify {
    
    margin: 2vh 0;
    width: 28vw;
    height: 12vh;
}

.results {
    /* margin: 2vh 2vw; */
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 200%;

}

#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vh 2vw;
}
