body {
    background: skyblue;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
}

#wrapper {
    width: 100%;

}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /* filter: blur(4px); */
}

#results {
    margin: 2vh 8vw;
}

#search {
    margin: 2vh 8vw;
}

#ikonka {
    display: inline;
}

#mainbar {
    display: inline;

}

#mood {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 2vh 8vw;
}

#mood_text {}

#audio_div {}

#spotify {
    margin: 2vh 0;

}

.content,
.segment {
    opacity: 0.87;

}